<div class="container">
  <div class="row">
    <div class="col-md">
      <img src="assets/img/web.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
      <figcaption style="text-align:center;"> Web Development</figcaption>
      <a href="webdevelopment" style="text-align:center;">Read More</a>
    </div>
      <div class="col-md">
      <img src="assets/img/react.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
      <figcaption style="text-align:center;">React</figcaption>
      <a href="react" style="text-align:center;">Read More</a>
      </div>
    <div class="col-md">
      <img src="assets/img/java.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
      <figcaption style="text-align:center;">Core Java</figcaption>
      <a href="java">Read More</a>
    </div>
    <div class="col-md">
      <img src="assets/img/python.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
      <figcaption style="text-align:center;">Programming with Python</figcaption>
      <a href="python">Read More</a>
    </div>
  </div>
  <br>
  
    <div class="row">
      <div class="col-md">
        <img src="assets/img/angular.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
        <figcaption style="text-align:center;">Angular</figcaption>
        <a href="angular">Read More</a>
      </div>
      <div class="col-md">
        <img src="assets/img/node.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
    <figcaption style="text-align:center;">Node JS</figcaption>
    <a href="node">Read More</a>
      </div>
      <div class="col-md">
        <img src="assets/img/aws.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
        <figcaption style="text-align:center;">AWS</figcaption>
        <a href="aws">Read More</a>
      </div>
      <div class="col-md">
        <img src="assets/img/matlab.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
        <figcaption style="text-align:center;">MatLab</figcaption>
        <a href="matlab">Read More</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md">
        <img src="assets/img/softwaretest.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
        <figcaption style="text-align:center;">Software Testing</figcaption>
        <a href="softwaretesting">Read More</a>
      </div>
      <div class="col-md">
        <img src="assets/img/sql.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
    <figcaption style="text-align:center;">SQL Server</figcaption>
    <a href="sql">Read More</a>
      </div>
      <div class="col-md">
        <img src="assets/img/mobile.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
        <figcaption style="text-align:center;">Android Application Development</figcaption>
        <a href="android">Read More</a>
      </div>
      <div class="col-md">
        <img src="assets/img/ml.png" height="200px" width="350px" class="figure-img img-fluid rounded" alt="...">
        <figcaption style="text-align:center;">Machine Learning</figcaption>
        <a href="machinelearning">Read More</a>
      </div>
    </div>
    
  </div>
  
  
