<p>
    Learn SQL Course: SQL stands for Structured Query Language. SQL lets you access and manipulate databases. SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987.
    It's a Free Course...
    Start to Learn Today!!! 
</p>

<div class="container mt-5 mb-5">
    <h1>COURSE REGISTRATION</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter First Name" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Course" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email ID" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Mobile" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Address" >
            </div>
            

            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
            


        </div>
    </form>
</div>
